<script src="catalog/view/javascript/jquery/card/jquery.card.js" type="text/javascript"></script>
<link href="catalog/view/javascript/jquery/card/card.css" rel="stylesheet" media="screen" />

<div id="transactpro-notification" style="display: none">
    <div class="text-center alert alert-info"></div>
</div>

<form class="form-horizontal" action="{{ action }}" method="POST" id="transactpro_card_details_form">
    <fieldset>
        <legend>{{ text_heading }}</legend>
    </fieldset>
    {% if capture_on_gw == false %}
	<div class="col-md-6">
    	<fieldset id="hide-card-details">
	        <div class="form-group required">
    	        <label class="col-sm-4 control-label" for="id_card_number">{{ card_number_label }}</label>
        	    <div class="col-sm-8">
            		<input type="tel" name="card_number" value="" placeholder="{{ card_number_entry }}" id="id_card_number" class="form-control"/>
	            </div>
    	    </div> 
        	<div class="form-group required">
            	<label class="col-sm-4 control-label" for="id_card_expiry">{{ card_expiry_label }}</label>
	            <div class="col-sm-8">
    	            <input type="text" name="card_expiry" value="" placeholder="{{ card_expiry_entry }}" id="id_card_expiry" class="form-control"/>
        	    </div>
	        </div>
    	    <div class="form-group required">
        	    <label class="col-sm-4 control-label" for="id_card_cvv">{{ card_cvv_label }}</label>
            	<div class="col-sm-8">
					<input type="tel" name="card_cvv" value="" placeholder="{{ card_cvv_entry }}" id="id_card_cvv" class="form-control"/>
	            </div>
    	    </div>
        	<div class="form-group required">
            	<label class="col-sm-4 control-label" for="id_card_cardholder_name">{{ card_cardholder_name_label }}</label>
	            <div class="col-sm-8">
					<input type="text" name="card_cardholder_name" value="" placeholder="{{ card_cardholder_name_entry }}" id="id_card_cardholder_name" class="form-control"/>
        	    </div>
	        </div>
    	</fieldset>
    </div>
    <div class="col-md-6">
    	<div class="card-wrapper"></div>
    </div>
    <div class="col-md-6">
    	<div class="buttons">
        	<div class="pull-right">
            	<input type="button" value="{{ button_confirm }}" id="button-confirm-order" data-loading-text="{{ text_loading }}" class="btn btn-primary">
        	</div>
    	</div>
    </div>
    {%  else %}
    <div class="buttons">
        <div class="pull-right">
            <input type="button" value="{{ button_confirm }}" id="button-confirm-order" data-loading-text="{{ text_loading }}" class="btn btn-primary">
        </div>
    </div>
    {% endif %}
</form>
<style>
    .control-label {
        cursor: pointer;
    }

    .form-control--focus {
        /* Indicates how form inputs should appear when they have focus */
        outline: 5px auto rgb(59, 153, 252);
    }
    .form-control--error {
        /* Indicates how form inputs should appear when they contain invalid values */
        outline: 5px auto rgb(255, 97, 97);
    }

    #transactpro_save_card {
        margin-top: 10px;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
    {% if capture_on_gw == false %}
	new Card({
		form: document.querySelector('#transactpro_card_details_form'), 
		container: '.card-wrapper'
	});
	{% endif %}
    	
    function submitForm() {
        var form = '#transactpro_card_details_form';

        $.ajax({
            url : $(form).attr('action'),
            dataType : 'json',
            type : $(form).attr('method'),
            data : $(form).serialize(),
            beforeSend : function() {
            	$('#transactpro-notification').hide().empty();
                $('#button-confirm-order').button('loading');
            },
            success : function(json) {
                if (json.error) {
                    transactproError(json.error);
                } else if (json.redirect) {
                    document.location = json.redirect;
                }
            },
            error : function(jqXHR, ajaxSettings, thrownError) {
                transactproError(thrownError);
            },
            complete : function() {
                $('#button-confirm-order').button('reset');
            }
        });
    }

    function transactproError(error) {
        $('#button-confirm-order').button('reset');

        $('#transactpro-notification').html('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="X"><span aria-hidden="true">&times;</span></button><i class="fa fa-exclamation-circle"></i>&nbsp;' + error + '</div>').show();
    }

    $('#button-confirm-order').unbind().click(function(e) {
        e.preventDefault();
        e.stopPropagation();

        $('#button-confirm-order').button('loading');

        submitForm();
    });
});
</script>